{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],

  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": true,

  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
