{
	"plugins": [
		"prettier-plugin-astro",
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],

	"endOfLine": "auto",
	"importOrder": ["(^solid-js$|^solid-js/(.*))", "<THIRD_PARTY_MODULES>", "^@/(.*)/(.*)", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"printWidth": 100,
	"singleQuote": false,
	"tabWidth": 2,
	"tailwindAttributes": ["class", "className"],
	"tailwindFunctions": ["clsx", "cn"],
	"useTabs": true
}
