/* The integration's default injected base.css file */
@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
	--font-*: initial;
	--font-mono: "JetBrainsMono-Variable", sans-serif;
	--font-sans: "GeneralSans-Variable", sans-serif, system-ui;

	--color-background: oklch(0.5372 0.2564 267.12);
	--color-border: oklch(0.6563 0.1821 265.62);
	--color-foreground: oklch(1 0 0);

	--color-muted-foreground: oklch(0.8126 0.0933 268.18);

	--color-primary: oklch(0.7214 0.1337 49.98);
	--color-primary-foreground: oklch(0.1797 0.0043 308.19);

	--animate-slide-left: slide-left 8s linear infinite;

	@keyframes slide-left {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: oklch(0.6563 0.1821 265.62);
	}
}

@layer base {
	@font-face {
		font-family: "GeneralSans-Variable";
		src:
			url("/fonts/GeneralSans/GeneralSans-Variable.woff2") format("woff2"),
			url("/fonts/GeneralSans/GeneralSans-Variable.woff") format("woff"),
			url("/fonts/GeneralSans/GeneralSans-Variable.ttf") format("truetype");
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: "JetBrainsMono-Variable";
		src:
			url("/fonts/JetBrainsMono/JetBrainsMono-Variable.woff2") format("woff2"),
			url("/fonts/JetBrainsMono/JetBrainsMono-Variable.woff") format("woff"),
			url("/fonts/JetBrainsMono/JetBrainsMono-Variable.ttf") format("truetype");
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.bg-striped {
		background-attachment: fixed;
		background-image: repeating-linear-gradient(
			315deg,
			var(--color-border) 0,
			var(--color-border) 1px,
			transparent 0,
			transparent 50%
		);
		background-size: 10px 10px;
	}
}
