---
import { Windows } from "@/components/windows";
import BaseLayout from "@/layouts/base.astro";
import { cn } from "@/lib/cn";
---

<BaseLayout>
	<main
		class={cn(
			"relative isolate h-full min-h-0 w-full overflow-hidden border",
			"bg-[url('/background.svg')] bg-size-[90px] bg-center bg-repeat",
		)}
	>
		<Windows client:load />
	</main>
</BaseLayout>
