---
import { Background } from "@/components/background";
import { Windows } from "@/components/windows";
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout>
	<main class="relative isolate h-full min-h-0 w-full overflow-hidden border">
		<Windows client:load />

		<div class="absolute inset-0 -z-1">
			<Background client:load />
		</div>
	</main>
</BaseLayout>
