---
import { Windows } from "@/components/windows";
import BaseLayout from "@/layouts/base.astro";
---

<BaseLayout>
	<main class="h-full min-h-0 w-full px-2 pb-2">
		<div class="relative isolate h-full min-h-0 w-full">
			<div
				class="absolute top-0 left-0 isolate z-0 h-full w-full bg-[url('/background.svg')] bg-size-[90px] bg-center bg-repeat"
			>
			</div>

			<Windows client:load />
		</div>
	</main>
</BaseLayout>
