---
import clsx from 'clsx';
import dayjs, { Dayjs } from 'dayjs';

export type Props = {
  company: string;
  description: string[];
  end: Dayjs;
  job: string;
  start: Dayjs;
};

const { company, description, end, job, start } = Astro.props;

const DATE_FORMAT = 'MMM D, YYYY';
---

<div class="rounded-lg border-2 border-ctp-overlay0/10 bg-ctp-overlay0/10 p-4">
  <p class="text-sm font-medium text-ctp-overlay1">
    {start.format(DATE_FORMAT)} -{' '}
    {end.isSame(dayjs(), 'date') ? 'Present' : end.format(DATE_FORMAT)}
    ({start.from(end, true)})
  </p>
  <h3
    class={clsx(
      'mt-4 font-sans-serif text-3xl font-black',

      // Medium Breakpoint
      'max-md:text-2xl'
    )}
  >
    {company}
  </h3>
  <h4 class="text-sm font-bold uppercase text-ctp-blue">{job}</h4>

  <ul class="mt-6 list-inside list-none">
    {
      description.map((text) => (
        <li class="flex items-center gap-2 text-ctp-subtext0 [&:not(:first-child)]:mt-2">
          <svg
            class="shrink-0"
            fill="currentColor"
            height="1em"
            stroke-width="0"
            stroke="currentColor"
            viewBox="0 0 512 512"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z" />
          </svg>

          <p class="text-sm font-medium">{text}</p>
        </li>
      ))
    }
  </ul>
</div>
