---
import { Image } from "@/components/image";

import { cn } from "@/lib/cn";
import { ROUTES } from "@/lib/constants";
import { isCurrentLink } from "@/lib/is-current-link";
---

<header class="grid w-full grid-cols-12 gap-2 px-2 py-2">
	<div
		class={cn(
			"col-span-4",

			"max-md:col-span-6",
		)}
	>
		<a
			class={cn(
				"inline-flex h-full items-center gap-2",

				"focus-visible:bg-foreground focus-visible:text-background focus-visible:outline-hidden",
			)}
			href="/"
		>
			<Image
				alt="Avatar"
				client:visible
				class={cn(
					"h-5 w-5 rounded-full",

					"[&>div]:rounded-full",
					"[&>img]:rounded-full",
				)}
				palette={["#2e4862", "#1f1e1d", "#3f616f", "#5f6f7c", "#aca6a1"]}
				src="/android-chrome-192x192.png"
			/>

			<h1 class="font-sans text-sm leading-none font-medium select-none">Victor Ragojos</h1>
		</a>
	</div>

	<nav
		class={cn(
			"col-span-4 h-full",

			"max-md:col-span-6",
		)}
	>
		<ul
			class={cn(
				"inline-flex h-full w-full items-center gap-2",

				"max-md:justify-end",
			)}
		>
			{
				ROUTES.map((route) => {
					return (
						<li class="inline-flex h-full items-center">
							<a
								aria-current={isCurrentLink(Astro.url, route.slug) && "page"}
								class={cn(
									"text-muted-foreground font-sans text-sm font-medium transition-colors select-none",

									"aria-[current=page]:text-foreground aria-[current=page]:focus-visible:text-background",
									"focus-visible:bg-foreground focus-visible:text-background focus-visible:outline-hidden",
									"hover:text-foreground",
								)}
								href={route.href}
							>
								<span>{route.title}</span>

								<span class="sr-only">{route.description}</span>
							</a>
						</li>
					);
				})
			}
		</ul>
	</nav>

	<div
		class={cn(
			"col-span-4 inline-flex h-full w-full items-center justify-end",

			"max-md:hidden",
		)}
	>
		<time
			class={cn(
				"font-mono text-[11px] leading-none font-medium transition-colors select-none",

				"data-[is-loading=true]:bg-foreground",
			)}
			data-is-loading={true}
			id="current-date"
		>
			Feb. 13, 2000
		</time>
	</div>
</header>

<script>
	import dayjs from "dayjs";

	const el = document.getElementById("current-date");
	if (el) {
		const now = dayjs();
		el.setAttribute("data-is-loading", "false");
		el.setAttribute("datetime", now.format("YYYY-MM-DD"));

		el.textContent = `[${now.format("MMM. D, YYYY")}]`;
	}
</script>
