---
import clsx from "clsx";

export type Props = {
	slides: string[];
};

const { slides } = Astro.props;
---

<div
	class={clsx(
		"group flex h-48 border-y",

		// Hover

		"hover:bg-rsp-muted/10",
	)}
>
	{
		Array.from({ length: 2 }).map(() => (
			<div
				class={clsx(
					"flex h-full shrink-0 animate-slideLeft items-center gap-6 will-change-transform",

					// Group Hover

					"group-hover:animate-[slideLeft_18s_linear_infinite_paused]",
				)}
			>
				{slides.map((slide) => (
					<div
						class={clsx(
							"flex select-none items-center gap-6",

							// First

							"first:ml-6",
						)}
					>
						<p class="font-sans-serif text-3xl font-black text-rsp-rose">
							&bull;
						</p>

						<p class="font-sans-serif text-3xl font-black">{slide}</p>

						<svg
							fill="currentColor"
							height="2em"
							stroke-width="0"
							stroke="currentColor"
							viewBox="0 0 16 16"
							width="2em"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z" />
						</svg>
					</div>
				))}
			</div>
		))
	}
</div>
