---
import dayjs from 'dayjs';
import RelativeTime from 'dayjs/plugin/relativeTime';

import Header from '@/components/Header';
import Seo from '@/components/Seo.astro';

dayjs.extend(RelativeTime);
---

<!DOCTYPE html>
<html
  lang="en"
  class="scroll-smooth selection:bg-ctp-blue selection:text-ctp-base"
>
  <head>
    <Seo />

    <title>About - Victor Ragojos</title>
  </head>

  <body
    class="h-screen w-screen overflow-y-auto overflow-x-hidden bg-ctp-base text-ctp-text"
  >
    <Header client:load url={Astro.url} />

    <slot />
  </body>
</html>
