---
import dayjs from 'dayjs';
import RelativeTime from 'dayjs/plugin/relativeTime';

import Header from '@/components/Header';
import Seo from '@/components/Seo.astro';

export type Props = {
  title?: string;
  description?: string;
};

const {
  title = 'About - Victor Ragojos',
  description = "I'm a software engineer that specializes in building fun and useful applications. I'm currently focusing on building and maintaining products at Offset.",
} = Astro.props;

dayjs.extend(RelativeTime);
---

<!DOCTYPE html>
<html
  lang="en"
  class="scroll-smooth selection:bg-ctp-blue selection:text-ctp-base"
>
  <head>
    <Seo />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body
    class="h-screen w-screen overflow-y-auto overflow-x-hidden bg-ctp-base text-ctp-text"
  >
    <Header client:load url={Astro.url} />

    <slot />
  </body>
</html>
